.container {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: auto;
  padding: 20px 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 50vh;
  overflow-y: auto;
  margin: 20px 0px;
}
.commentsColor {
  background-color: #ede9fe;
  color: #6366f1;
}
.comments > p {
  text-align: center;
  width: 100%;
  padding: 5px 0;
}
.error {
  color: red;
}

section::-webkit-scrollbar {
  width: 5px;
}

section::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

section::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 100px;
}
